body {
}

h1 {
}

h2 {
}

p {
}

.navbar-color-custom{
    background-color: #0C9292;
}
.navbar-brand {
}

a {
    color: white;
}

.nav-link {
}

.jumbotron {
}

.slideanim {
}

.text-block{
    padding: 5vh 18vw;
}
